.container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:40px;
}

form{
    width:400px;
    background:white;
    padding:20px;
    border-radius:8px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:10px;
    background-color:#4CAF50;
}

.add-btn {
  width: 200px;
  height: 40px;
  background-color:#5a57ae;
}
.dlt-btn{
    width:100%;
    padding:10px;
    background-color:#f44336;
  }body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}

form{
    width:400px;
    background:white;
    padding:20px;
    border-radius:8px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:10px;
    background-color:#4CAF50;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    width:80%;
    margin:20px auto;
    border-collapse:collapse;
    background:white;
}

table,
th,
td{
    border:1px solid #ccc;
}


.add-btn{
    width:200px;
    margin-top:20px;
    background:#5a57ae;
}

.dlt-btn{
    background:#f44336;
    width:50%;
}

.edit-btn{
    background:#4CAF50;
    width:50%;
}